@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i&display=swap');
/* kor - Noto Sans KR // 'Noto Sans KR', sans-serif; */
/* eng - Raleway // font-family: 'Merriweather', serif; */


*{
    margin:0;
    padding:0;
    color:#3d3d3d;
    letter-spacing: -0.5px;
}
body{font-family:'Noto Sans KR', sans-serif;}
.fl{float:left;}
.cf:after{content:""; display:block; clear:both;}
img{border-style:none;}
a{text-decoration:none;}
li{list-style: none;}

#wrap{width:100%;}
#header{width:100%; height:80px; float:left; position:fixed; z-index: 999; background: #fff;}
#gnb{width:90%; height:80px; background: #fff; margin:0 auto; position:relative;}
#gnb h1{width:80px; height:80px; float:left;}
#gnb h1 a img{width:80px; margin-top:10px;}
#gnb .nav{float:left; position:absolute; top:0; left:50%; margin-left:-250px;}
#gnb .nav>li{position:relative;}
#gnb .nav>li>a{
    display:block;
    height:80px;
    line-height: 80px;
    font-size:14px;
    font-weight:500;
    margin-right:100px;
}
#gnb .nav>li ul{position:absolute; z-index: 101; left:-30px; display:none;}
#gnb .nav>li ul li a{
    display:block;
    height:60px;
    line-height:60px;
    font-weight:300;
    width:150px;
    padding-left: 30px;
    background: #fff;
}

#gnb form input{width:60%; display:block; height:40px; padding-left:30px; position:absolute; left:600px; top:20px; display:none; opacity:0; border:1px solid #3d3d3d;}




#gnb .etc{float:right;}
#gnb .etc>li{
    width:80px;
    height:80px;
    line-height: 80px;
    text-align:right;
    position:relative;
}
#gnb .etc li a img{width:20px;}
#gnb .etc>li ul{position:absolute; top:60px; right:-20px; border:1px solid #eee; display:none; z-index:101;}
#gnb .etc>li ul li a{
    display:block;
    width:180px;
    height:60px;
    text-align:left;
    line-height: 60px;
    font-size:14px;
    border-bottom:1px solid #eee;
    padding-left:20px;
    font-weight:300;
    color:#3397e2;
    background: #fff;
}
#gnb .etc>li ul li a img{margin-top:20px; float:left; margin-right:20px;}
#gnb .etc>li ul li a.first_box{color:#3d3d3d; background: #eee; height:100px; line-height:100px;}




#main_area{width:100%; float:left; position:relative; top:80px;}
#main_area .main_video{width:90%; margin:0 auto; position:relative;}
#main_area .main_video .logo_video{position:absolute; top:10px; left:30px; z-index: 9999;}
#main_area .main_video .logo_video img{width:100px;}
#main_area .main_video .logo_video .bar01{width:5px height:500px;}




#section{width:100%; float:left; margin-top:20px;}
#section .story{
    width:90%;
    margin:0 auto;
    height:600px;
    background: url(../img/story/excelsior_brand_slider_6.jpg) no-repeat center ;
    background-size:cover;
    background-attachment:fixed;
 }
#section .story .logo_story{width:100%; float:left; height:150px; margin-top:150px;}
#section .story img{width:100px; display:block; margin:0 auto;}
#section .story h2{
    color:#fff;
    font-family: 'Merriweather', serif;
    font-size:25px;
    text-align: center;
    float:left;
    width:100%;
    margin-top:50px;
}
#section .story p{
    font-size:14px;
    font-weight:300;
    color:#fff;
    text-align: center;
    float:left;
    margin-top:60px;
    width:100%;
}
#section .story .btn_story{
    width:100%;
    float:left;
    margin-top:20px;
}
#section .story .btn_story button{
    display:block;
    background: none;
    font-size:14px;
    text-decoration: underline;
    border:none;
    margin:0 auto;
    cursor: pointer;
}
#section .story .btn_story button a{color:#fff;}

#section02{width:100%; float:left; overflow: hidden; height:600px;}
#section02 .product{width:90%; margin:0 auto; position:relative;}
#section02 .product h2{
    float:left;
    margin-top:100px;
    font-size:30px;
    font-weight:300;
    width:100%;
    padding-left:100px;
}
#section02 .swiper-container{
    width:1600px;
    height:300px;
    position:absolute;
    top:200px;
    left:12%;
}
#section02 .swiper-container .swiper-slide{overflow:hidden; cursor: pointer;}
#section02 .swiper-container .swiper-slide .imgproducts{width:100%; height:200px; overflow: hidden;}
#section02 .swiper-container .swiper-slide .imgproducts img{width:100%;}
#section02 .swiper-container .swiper-slide p{text-align: center; margin-top:20px;}
#section02 .swiper-container .mobile-slide {display:none;}


#section03{width:100%; float: left;}
#section03 .gallery_area{width:90%; height:1200px; background: #fff; margin:0 auto; position:relative;}
#section03 .gallery_area .gallery{width:49.5%; float:left; height:49.5%; overflow: hidden; position:relative; cursor: pointer;}
#section03 .gallery_area .gallery img{height:100%; position:absolute;}
#section03 .gallery_area .gallery01{margin-right:1%; }
#section03 .gallery_area .gallery02{background: #f8f8f8; }
#section03 .gallery_area .gallery02 img{position:absolute; height:100%;}
#section03 .gallery_area .gallery03{background: #bbb; margin-right:1%; margin-top:1%;}
#section03 .gallery_area .gallery04{background: #ccc; margin-top:1%;}
#section03 .gallery_area .gallery .gallery_bg{
    width:100%;
    height:100%;
    background: #000;
    background: rgba(0,0,0,0.7);
    position:absolute;
    z-index: 100;
    opacity:0;
    top:100%;
}
#section03 .gallery_area .gallery .gallery_bg h4{color:#fff; font-size:30px; text-align: center; font-family: 'Merriweather', serif; margin-top:200px;}
#section03 .gallery_area .gallery .gallery_bg p{color:#fff; font-size:20px; text-align: center; margin-top:30px;}
#section03 .gallery_area .gallery .gallery_bg button{color:#fff; background: none; font-size:18px; border:none; display: block; margin:30px auto; cursor:pointer;}
#section03 .gallery_area .gallery .gallery_bg div{opacity:0; margin-top:300px;}

#section03 .gallery_area .gallery .m_gallery_txt{width:100%; height:100%; position:absolute; top:0; display:none; background: rgba(0,0,0,0.3);}
#section03 .gallery_area .gallery .m_gallery_txt h4{color:#fff; font-size:20px; text-align: center; font-family: 'Merriweather', serif; margin-top:60px;}
#section03 .gallery_area .gallery .m_gallery_txt p{color:#fff; font-size:14px; text-align: center; margin-top:30px;}
#section03 .gallery_area .gallery .m_gallery_txt button{color:#fff; background: none; font-size:18px; border:none; display: block; margin:30px auto; cursor:pointer;}

#section04{width:100%; float:left; margin-top:20px;}
#section04 .product_link{width:90%; height:500px; background: #111 url(../img/contact_bg.jpg) no-repeat center center; margin:0 auto; background-attachment: fixed;}
#section04 .product_link>ul{position:relative; top:50px; left:50%; width:560px; height:500px; margin-left:-280px;}
#section04 .product_link>ul>li{ position:absolute; top:80px;}
#section04 .product_link>ul>li a{
    font-size:45px;
    font-weight:600;
    color:#fff;
    display:block;
    margin-right:20px;
    text-align: center;
    position:relative;
    z-index:90;
}
#section04 .product_link>ul>li.link01{left:30px;}
#section04 .product_link>ul>li.link02{left:200px;}
#section04 .product_link>ul>li.link03{top:130px; left:30px;}
#section04 .product_link>ul>li.link04{top:130px; left:300px;}
#section04 .product_link>ul>li.link05{top:180px; left:30px;}
#section04 .product_link>ul>li.link06{top:180px; left:200px;}
#section04 .product_link>ul>li.link07{left:400px;}
#section04 .product_link>ul>li.link08{top:230px; left:30px;}

#section04 .product_link>ul>li>ul{display:none; z-index: 95;}
#section04 .product_link>ul>li.link01>ul{position:absolute; top:-100px; left:-80px;}
#section04 .product_link>ul>li.link01>ul li{position:absolute;}
#section04 .product_link>ul>li.link01>ul li img{width:300px;}

#section04 .product_link>ul>li.link02>ul{position:absolute; top:-100px; left:-80px;}
#section04 .product_link>ul>li.link02>ul li{position:absolute;}
#section04 .product_link>ul>li.link02>ul li img{width:300px;}

#section04 .product_link>ul>li.link03>ul{position:absolute; top:-100px; left:-30px;}
#section04 .product_link>ul>li.link03>ul li{position:absolute;}
#section04 .product_link>ul>li.link03>ul li img{width:300px;}

#section04 .product_link>ul>li.link04>ul{position:absolute; top:-100px; left:-30px;}
#section04 .product_link>ul>li.link04>ul li{position:absolute;}
#section04 .product_link>ul>li.link04>ul li img{width:300px;}

#section04 .product_link>ul>li.link05>ul{position:absolute; top:-100px; left:-80px;}
#section04 .product_link>ul>li.link05>ul li{position:absolute;}
#section04 .product_link>ul>li.link05>ul li img{width:300px;}

#section04 .product_link>ul>li.link06>ul{position:absolute; top:-100px; left:-10px;}
#section04 .product_link>ul>li.link06>ul li{position:absolute;}
#section04 .product_link>ul>li.link06>ul li img{width:300px;}

#section04 .product_link>ul>li.link07>ul{position:absolute; z-index:1; top:-100px; left:-80px;}
#section04 .product_link>ul>li.link07>ul li{position:absolute;}
#section04 .product_link>ul>li.link07>ul li img{width:300px;}

#section04 .product_link>ul>li.link08>ul{position:absolute; z-index:1; top:-100px; left:0px;}
#section04 .product_link>ul>li.link08>ul li{position:absolute;}
#section04 .product_link>ul>li.link08>ul li img{width:300px;}


#footer{width:100%; float:left;}
#footer .up_area{width:90%; height:300px; margin:0 auto;}
#footer .down_area{width:90%; height:500px; margin:0 auto; background: #111 url(../img/contact_bg.jpg) no-repeat center center; background-attachment: fixed; position:relative;}

#footer .map{width:20%; height:300px; float:left; margin-left:20%;}
#footer .contact{width:20%; height:300px; float:left; margin-left:40px;}
#footer .followUs{width:20%; height:300px; float:left; margin-left:70px;}

#footer .map h3{margin-top:40px; font-size:30px; font-weight:300;}
#footer .map ul{margin-top:20px;}
#footer .map ul li{margin-bottom:10px;}

#footer .contact h3{margin-top:40px; font-size:30px; font-weight:300;}
#footer .contact address{margin-top:20px; font-style:normal; font-size:14px;}
#footer .contact p{font-size:14px; margin-top:10px;}

#footer .followUs h3{margin-top:40px; font-size:30px; font-weight:300;}


#footer .followUs ul li a img{width:50px;}
#footer .followUs ul li{float:left; margin-right:10px;}
#footer .followUs ul{ margin-top:20px;}


#footer .down_area div{text-align: center;}
#footer .down_area div>img{width:150px; margin-top:200px;}
#footer .down_area p{ float:left; width:100%; text-align: center; margin-top:20px; font-size:12px; color:#fff;}

#footer .down_area ul{width:240px; margin:0 auto; margin-top:20px;}
#footer .down_area ul li a{display: block; color:#fff; font-size:12px; margin-right:20px;}
#footer .down_area ul li.noMargin a{margin-right:0;}
#footer .down_area .company{position:absolute; width:auto;  left:50%; margin-left:-400px; top:60px;}
#footer .company li a img{width:200px; margin-right:80px;}

#main_area .m_main_img{width:100%; height:600px; overflow: hidden; position:relative; display:none;}
#main_area .m_main_img img{height:100%; position:absolute; left:-110px;}




/* end */
